@import '../../styles/base';

.pageTitle,
.contentRow,
.content,
.gallery,
.linkRow,
.mainContent,
.cardGrid {
  @extend %section-margins;
  @include responsive-padding-x;
}

.content {
  @include font-size($font-size-base);

  flex: 2;

  @include media-breakpoint-up(md) {
    @include mb(0);
    @include pr(6);
  }
}

.mainContent {
  display: flex;
}

.cardGrid {
  @extend %card-grid;
}

.gallery {
  @include mx(auto);
  max-width: 50vh;
}

.githubLink {
  align-self: center;
  color: $primary-dark;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $secondary;
  }
}

.linkRow {

  display: flex;
  justify-content: center;

  a {
    @include px(4);
    @include py(2);

    background-color: $warning;
    border: solid $info 0.25rem;
    border-radius: $border-radius-lg;
    color: $secondary;
    font-size: $h3-font-size;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: lighten($warning, 20%);
    }
  }
}

.thumbnail {
  @include media-breakpoint-up(md) {
    background-color: $white;
    border-bottom-right-radius: $border-radius-lg;
    box-shadow: $box-shadow;
    flex: 1;
    overflow: hidden;
  }

  img {
    @include img-fluid;
  }
}

.heading {
  @include font-size($h4-font-size);
}
