@import '../../styles/base';

.contentRow,
.contentSection,
.gallery {
  @include mb(5);
}

.githubLink {
  align-self: center;
  color: $primary-dark;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $secondary;
  }
}

.linkRow {
  display: flex;
  justify-content: center;
}
