@import '../styles/base';

.card {
  box-shadow: $box-shadow;
  opacity: 0.75;
  overflow: hidden;
  transform: scale(1);
  transition: box-shadow 350ms ease-in-out;
  z-index: 1;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  @include media-breakpoint-up(md) {
    border-bottom-right-radius: $border-radius-lg;
  }
}

.cardContent {
  position: relative;
}

.header {
  background-color: lighten($primary, 25%);
  margin-top: 0;
  overflow: hidden;
  padding: bsize(3) 0 0;
  position: relative;

  @include media-breakpoint-up(md) {
    border-bottom-right-radius: $border-radius-lg;
    height: 8rem;
    margin-left: 8rem;
    margin-top: 0;
    padding: 0 1rem;
  }

  h3,
  h4 {
    @include pb(3);
    @include media-breakpoint-up(md) {
      @include pb(0);
    }
  }
}

.headerText {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h3,
  h4 {
    margin: 0;
  }
}

.content {
  background: $white;
  margin: 0;
  overflow: hidden;
  padding: bsize(2);

  @include media-breakpoint-up(md) {
    align-items: center;
    border-bottom-right-radius: $border-radius-lg;
    bottom: 0;
    display: flex;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 1rem 2rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.subtitle {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
}

.image {
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //border: solid 0.5rem $primary;
  height: 8rem;

  @include media-breakpoint-up(md) {
    //border-radius: 100%;
    margin: 0 auto;
    position: absolute;
    width: 8rem;
    z-index: 2;
  }
}
