@import '../styles/base';

.card {
  min-height: 11rem;
  opacity: 0.75;
  overflow: hidden;
  transform: scale(1);
  z-index: 1;
}

.cardContent {
  position: relative;
}

.header {
  background-color: lighten($primary, 25%);
  border: solid 0.25rem $primary;
  border-bottom-right-radius: $border-radius-lg;

  height: 5rem;
  margin-left: 6rem;
  margin-top: 1.5rem;
  overflow: hidden;
  padding: bsize(3) 2rem bsize(3) 6rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h3,
  h4 {
    margin: 0;
  }
}

.content {
  background: $white;
  border: solid 0.25rem $primary;
  border-bottom-right-radius: $border-radius-lg;
  height: 0;
  margin-left: -6rem;
  opacity: 0;
  overflow: hidden;
  padding: bsize(3) 2rem bsize(3) 6rem;
  position: absolute;
  bottom: 0rem;
  z-index: 1;
}

.subtitle {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
}

.image {
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 0.5rem $primary;
  border-radius: 100%;
  height: 10rem;
  margin: -1.5rem auto;
  position: absolute;
  width: 10rem;
  z-index: 2;
}
