@import "../styles/base";

.card {

  background: $white;
  border-radius: $border-radius-lg;
  box-shadow: 0 0 1rem 0 rgba($primary-dark, 0.5);
  overflow: hidden;
  transform: scale(1);
  transition: box-shadow 350ms ease-in-out, transform 350ms ease-in-out;
  z-index: 1;

  &:hover {
    box-shadow: 0 0 1.5rem 0 rgba($primary-dark, 0.5);
    transform: scale(1.05);
    z-index: 10;
  }
}

.header {
  @extend .py-3;
  @extend .px-4;

  background-color: lighten($primary, 25%);
  border-bottom: solid 1rem $primary;
  height: 8rem;

  h3, h4 {
    margin: 0;
  }
}

.content {
  @extend .py-3;
  @extend .px-4;
}

.subtitle {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
}

.image {
  width: 10rem;
  height: 10rem;
  margin: -6rem auto 2rem;
  background-size: contain;
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: solid .5rem $primary;
}
