@import '../styles/base';

.header {
  @extend %section-margins;
  @include responsive-padding;

  background-color: rgba($c-indigo, 0.5);
  background-position: calc(100% - 50px) center;
  background-repeat: no-repeat;
  position: relative;

  h1,
  a {
    @include font-size($h1-font-size);
    @include m(0);

    color: $white;
  }
}

.openOverlay {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 0;
  position: absolute;
  right: 15rem;
  top: 4.5rem;
  width: 34px;
  z-index: 100;

  span {
    background-color: #fff;
    cursor: pointer;
    display: block;
    height: 1px;
    margin-top: 8px;
  }
}

.barTop {

}

.barMiddle {

}

.barBottom {

}
