@import '../styles/base';

.content {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50vh;
  overflow: visible;
  width: 100%;
}

.mainContent {
  @include pb(6);
  @include media-breakpoint-down(xl) {
    @include px(4);

    width: calc(100% - 4.5rem);
  }
}

.header {
  @include p(3);

  position: relative;
  @include media-breakpoint-up(md) {
    @include p(4);
  }
  @include media-breakpoint-up(lg) {
    @include p(5);
  }

  h1 {
    @include font-size($h1-font-size);
  }
}

.headerImage {
  height: 6rem;
  width: 6rem;
}

.headerHomeImage {
  height: 8rem;
  width: 8rem;
}

.backToHome {
  margin: 3rem 0 0;

  a {
    color: $primary-dark;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $secondary;
    }
  }
}
