@import '../styles/base';

.container {
  @include make-container();
}

.row {
  @include make-row;
}

.sidebar {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
}

.content {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(9);
  }
}

.wrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50vh;
  overflow: visible;
  //width: 100%;
}

.mainContent {
  @include pb(6);
}

.header {
  @include fluid-header;

  position: relative;

  h1 {
    @include font-size($h1-font-size);
  }
}

.headerImage {
  height: 6rem;
  width: 6rem;
}

.headerHomeImage {
  height: 8rem;
  width: 8rem;
}

.backToHome {
  @include section-header;

  a {
    color: $primary-dark;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $secondary;
    }
  }
}
