@import '../styles/base';

.container {
}

.wrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
}

.mainContent {
  @include pb(6);
}

.backToHome {
  @extend %section-margins;
  @include responsive-padding-x;

  a {
    color: $primary-dark;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $secondary;
    }
  }
}
