@import '../styles/base';

.navigationOverlay {
  background-color: rgba($primary-dark, 0.8);
  color: $white;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  a {
    @include font-size($h3-font-size);
    color: $white;
    display: block;
    letter-spacing: 4px;
    opacity: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 46%;

    &::before {
      background-color: #fff;
      content: '';
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-100%);
      transition: all 0.2s linear;
      width: 70px;
      z-index: 100;
    }

    &::after {
      bottom: -50px;
      color: #fff;
      content: attr(data-content);
      display: block;
      font-family: 'Open sans', sans-serif;
      font-size: 0.7rem;
      font-style: italic;
      font-weight: 300;
      left: 0;
      letter-spacing: 0;
      margin-left: auto;
      margin-right: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      text-transform: none;
      transition: all 0.2s linear;
      z-index: 100;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: translateX(0);
      }

      &::after {
        opacity: 1;
        transform: translateY(15px);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  nav,
  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    align-items: center;
    flex: 1;
    height: 0;
    justify-content: center;
    opacity: 0;
    overflow: hidden;

    &:nth-of-type(1) {
      background-color: $primary;
    }

    &:nth-of-type(2) {
      background-color: $info;
    }

    &:nth-of-type(3) {
      background-color: $danger;
    }
  }
}
