

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$c-dark: #1a1511;
$c-brown: #6f5d4c;
$c-blue: #6e8d92;
$c-green: #819f99;
$c-green-dark: darken($c-green, 20%);
$c-indigo: #524662;
$c-tan: #cdb48d;
$c-red: #814646;
$c-light: #e2dede;

$white: #fff;
$gray-100: lighten($c-dark, 80%);
$gray-200: lighten($c-dark, 75%);
$gray-300: lighten($c-dark, 65%);
$gray-400: lighten($c-dark, 55%);
$gray-500: lighten($c-dark, 45%);
$gray-600: lighten($c-dark, 35%);
$gray-700: lighten($c-dark, 25%);
$gray-800: lighten($c-dark, 15%);
$gray-900: $c-dark;
$black: #000;

$primary: $c-blue;
$primary-dark: darken($primary, 10%);
$secondary: $c-brown;
$success: $c-green;
$info: $c-indigo;
$warning: $c-tan;
$danger: $c-red;
$light: $c-light;
$dark: $c-dark;

$theme-colors: ();
$theme-colors: map-merge((
  'primary':    $primary,
  'primary-dark':    $primary-dark,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark
),
$theme-colors);

$enable-grid-classes: true;

$body-bg: $gray-100;
$body-color: $c-dark;
$link-color: $body-color;
$link-hover-color: lighten($body-color, 20%);
$link-hover-decoration: none;

// Spacing

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * 0.5),
  2: ($spacer * 0.75),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5)
),
$spacers);

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');


$font-family-sans-serif: 'Jura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-sans: 'Jura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-base: $font-family-sans;
$font-size-base: 0.85rem;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$headings-margin-bottom: $spacer * 2;
$headings-font-weight: 300;

$font-size-xs: 0.65rem;
$font-size-xl: $font-size-base * 1.5;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;

$line-height-lg: 1.8;

$small-font-size: 40%;

$box-shadow: 0 0.25rem 0.5rem rgba($black, 0.35);
$box-shadow-hover: 0 0.5rem 1rem rgba($black, 0.35);

$border-radius-xl: $spacer * 4;
$border-radius-lg: $spacer;

$enable-responsive-font-sizes: true;
