@import './bootstrap/functions';
@import './bootstrap/variables';

@import 'variables';

@import './bootstrap/mixins';
@import './bootstrap/reboot';
@import './mixins';

@import './bootstrap/grid';
@import './bootstrap/utilities';
@import './bootstrap/type';
@import './bootstrap/images';
@import './bootstrap/forms';
@import './bootstrap/buttons';
@import './bootstrap/input-group';

.border-button {
  @include px(3);
  @include py(2);
  @include font-size($font-size-sm);

  background: rgba($black, 1);
  border: solid 1px $white;
  border-radius: 0;
  cursor: pointer;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-transform: uppercase;
  transition: background 350ms ease-in-out, color 350ms ease-in-out;

  &:hover {
    background: rgba($black, 0.5);
  }
}

img {
  @include img-fluid;
}

.logo-svg {
  clip-rule: evenodd;
  fill-rule: evenodd;
  height: 70vh;
  left: 0;
  opacity: 0.15;
  position: fixed;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  top: 0;
  width: 70vh;
  z-index: -1;

  .logo-circle {
    fill: none;
    stroke: $secondary;

    &__outer {
      stroke-width: $spacer;
    }

    &__mid {
      stroke-width: $spacer * 0.65;
    }

    &__inner {
      stroke-width: $spacer * 0.25;
    }
  }

  .logo-path {
    fill: none;
    stroke: $secondary;
    stroke-width: $spacer * 0.25;

    &__top {
      stroke-width: $spacer * 0.125;
    }
  }
}

.carousel {
  &.carousel-slider {
    box-shadow: $box-shadow;
    margin: 0 auto;
  }

  .carousel-status {
    @include p(4);

    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    text-shadow: 0 0.1rem 0.25rem $black;
  }

  .thumbs-wrapper {
    @include py(3);
    margin: 0 auto;
    max-width: 50vh;

    .thumbs {
      @include px(0);
    }
  }

  .control-dots {
    .dot {
      background: $primary;
      box-shadow: 0 0.1rem 0.25rem $black;
    }
  }
}

.form-control {
  width: calc(100% - 2rem);
}
