@import "./bootstrap/functions";
@import "./bootstrap/variables";

@import "variables";

@import "./bootstrap/mixins";
@import "./bootstrap/reboot";

@import "./bootstrap/grid";
@import "./bootstrap/utilities";
@import "./bootstrap/type";
@import "./bootstrap/images";
@import "./bootstrap/forms";
@import "./bootstrap/buttons";
@import "./bootstrap/input-group";

.border-button {
  @extend .px-3;
  @extend .py-2;
  @include font-size($font-size-sm);

  background: rgba($black, 1);
  border: solid 1px $white;
  border-radius: 0;
  cursor: pointer;
  letter-spacing: .1rem;
  line-height: 1;
  text-transform: uppercase;
  transition: background 350ms ease-in-out, color 350ms ease-in-out;

  &:hover {
    background: rgba($black, 0.5);
  }
}

img {
  @extend .img-fluid;
}

.logo-svg {
  fill-rule:evenodd;
  clip-rule:evenodd;
  height: 70vh;
  left: 0;
  opacity: 0.15;
  position: fixed;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:1.5;
  top: 0;
  width: 70vh;
  z-index: -1;

  .logoCircle {
    fill:none;
    stroke: $secondary;

    &__outer {
      stroke-width: $spacer;
    }

    &__mid {
      stroke-width: $spacer * 0.65;
    }

    &__inner {
      stroke-width: $spacer * 0.25;
    }
  }

  .logoPath {
    fill: none;
    stroke: $secondary;
    stroke-width: $spacer * 0.25;

    &__top {
      stroke-width: $spacer * 0.125;
    }
  }
}
