@import '../styles/base';

.section {
  h2 {
    @include section-header;
  }
}

.text {
  @include section-container;
}

.cardGrid {
  @include section-container;

  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: $spacer * 2.5;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  max-width: 60rem;
}
